@import "~bootstrap/scss/bootstrap";

.hamburger {
  color: #737373 !important;
}

.ham {
  width: 100vw;
  height: 100vh;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 96px;
    height: 250px;
    padding: 0;
    justify-content: space-between;
  }

  &__item {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }

  &__link {
  
  }
}

