.services {
  background-color: #f3f3f3;
  height: 1546px;

  &__cardBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 196px;
    height: 1250px;
  }
  &__card {
    width: 230px;
    height: 290px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1049px) {
    height: 474px;
    display: flex;
    justify-content: center;
    &__cardBox {
      flex-direction: row;
      height: 474px;
      padding-top: 0px;
      width: 1049px;
    }
  }
}
