@use "../../styles/partials/mixins" as *;

.nav {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  @include desktop {
    position: fixed;
    z-index: 5;
    background: none;
  }

  &__title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    @include desktop {
      color: white;
    }
  }

  &__bigBox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 8.125%;
    background-color: #f7f7f7;
    @include desktop {
      position: fixed;
      background: none;
    }
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 83.755%;
    @include desktop {
    }
    &--contact {
      margin-left: 21px;
      margin-right: 39px;
    }
  }

  &__hamburgerButton {
    @include desktop {
      color: white;
    }
  }

  @media (min-width: 1049px) {
    &__bigBox {
      height: 136px;
    }
  }
}
