.nav {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #000000;
  }

  &__title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    padding-left: 36px;
  }
  &__bigBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background-color: #f7f7f7;
  }
  &__cta {
    display: flex;
    margin-top: 4.5px;
    &--contact {
      margin-left: 21px;
      margin-right: 39px;
    }
  }
  @media (min-width: 1049px) {
    &__bigBox {
      height: 136px;
    }
  }
}
